@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html,
html * {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
}

/* HTML5 DISPLAY-ROLE RESET FOR OLDER BROWSERS */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table caption {
    height: 0;
    font-size: 0.1em;
    color: #fff;
    opacity: 0;
}

input,
textarea {
    border:none;
    background-image:none;
    background-color:#fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    resize: none;
}

img {
    vertical-align: middle;
}

button {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    font: inherit;
    text-align: center;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #333;
}
/* //RESET */

/* PLACEHOLDER */
input::placeholder,
textarea::placeholder {
    font-family:'NanumSquareRound', '돋움';
    font-size: 15px;
    line-height:1.4;
    -webkit-text-size-adjust: none;
    font-weight: 400;
    letter-spacing:-0.05em;
    color: #ccc !important;
    opacity: .7;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder { 
    color: #ccc !important;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
    color: #ccc !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* //PLACEHOLDER */

.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
}

.hidden {
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.ellip {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ACCESSIBILITY */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: fixed !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
    background-color: #038ad9;
    clip: auto !important;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: bold;
    height: auto;
    left:0;
    right:0;
    line-height: normal;
    padding: 15px;
    text-decoration: none;
    top:0;
    text-align: center;
    width: auto;
    z-index: 100000; /* Above WP toolbar */
}

.accessibility {
    position: relative;
}

.accessibility a {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

#skipToContents {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

.sr-only {
    position: absolute;
    margin: -1px 0 0 -1px;
    padding: 0;
    display: block;
    width: 1px;
    height: 1px;
    font-size: 1px;
    line-height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    outline: 0;
}